.w-e-text-container [data-slate-editor] p {
  margin: 0;
}

.w-e-text-container [data-slate-editor] {
  padding-top: 15px;
}

/* :root {
  --w-e-toolbar-bg-color: unset;
  --w-e-textarea-bg-color: unset;
} */
